.App {
  display: flex;
  /* flex-wrap: wrap; */
  width: 90%;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
}

.Container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 45%;
}

.Container .Smurfs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border: 1px solid red;
}

.Container .Smurfs button {
  background-color: #4A8ECC;
  width: 90px;
  font-size: 20px
}

.Container form{
  display: flex;
  flex-direction: column;
}

.Container form input{
  /* width: 100px; */
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
